html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #aa8caf;
}

li {
	list-style: none;
}

.main-container {
  min-height: 100%;
  color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
	position: relative;
	z-index: 1;
	padding-left: 60px;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.left h1 {
	font-size: 50px;
	font-family: 'Monoton', cursive;
}

.box {
  border: 2px solid #f0f0f0;
  padding: 15px;
  max-width: 67%;
}

.box:hover {
	border: 2px solid #433660;
	cursor: pointer;
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

#audio-input[type=file] {
display: none;
}

#input-label {
  display: inline-block;
}


#play, #pause {
  font-size: 30px;
  color: white;
}

#board {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

#color-bar {
	background: linear-gradient(to right, yellow, green, aqua, blue, indigo, violet, deeppink, red, orange, yellow, green);
	opacity: 0.25;
	height: 20px;
	width: 180px;
}

#color-bar:hover {
	opacity: 0.4;
	cursor: pointer;
}

#play, #pause {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

#pause-play {
	position: relative;
	height: 21px;
}

#pause-play i {
	font-size: 20px;
}

#microphone {
	position: relative;
}

#no-mic {
	display: none;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.intro {
  background-color: rgba(255, 250, 250, 0.8);
	color: #4a3e51;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
  margin: 15% auto;
  border: 1px solid #888;
  width: 50%;
	padding: 40px;
}

.feature-list div {
	margin: 15px;
	display: flex;
}

.feature-list div p {
	margin-left: 10px;
}

.contact i {
	font-size: 20px;
}

.contact i:hover {
	color: #deb4c6;
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #4a3e51;
    text-decoration: none;
    cursor: pointer;
}

#header {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	padding-left: 15px;
	padding-bottom: 10px;
	font-size: 25px;
}

#open-modal {
	margin-top: 25px;
}

.options {
	width: 240px;
	letter-spacing: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 10px;
	margin-bottom: 10px;
}

.options-title {
	border-bottom: 1px solid white;
	padding: 7px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;
	width: 92%;
}

.small {
	font-size: 14px;
}

.big {
	letter-spacing: 3px;
	font-size: 17px;
}

.small:hover, .box:hover {
	color: #433660;
	cursor: pointer;
}

.fa:hover {
	cursor: pointer;
	color: #433660;
}

.option-items {
	margin-top: 7px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.option-items-large {
	margin-top: 7px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.options:hover, .options:focus, .options:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	background-color: rgba(160, 132, 165, 0.45);
}
