html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #aa8caf;
}

.main-container {
  min-height: 100%;
  color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
	position: relative;
	z-index: 1;
}

.box {
  border: 2px solid #f0f0f0;
  padding: 15px;
  max-width: 18%;
}

.logo-container {
  display: block;
  margin: 0 40px;
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 100px;
}

.about {
  font-size: 30px;
}

#audio-input[type=file] {
display: none;
}

#input-label {
  display: inline-block;
}


#play, #pause {
  font-size: 30px;
  color: white;
}

#board {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

#color-bar {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, hotpink);
	opacity: 0.3;
	height: 20px;
	width: 180px;
}

#play, #pause {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

#pause-play {
	position: relative;
}

#microphone {
	position: relative;
}

#no-mic {
	display: none;
}

#no-mic, #mic {
	position: absolute;
	top: 0px;
	left: 0px;
}
